/* Reset default browser styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styles */
body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(23, 23, 23, 1) 60%,
    rgba(41, 41, 41, 1) 100%
  );
}
#sum {
  color: red;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: medium;
  border: 1px solid aliceblue;
  border-radius: 5px;
  width: 300px;
  padding: 10px 20px; /* Padding around text */
  margin: 20px auto;
  height: 40px;
  font-size: large;
  background-color: #333;
}

header {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(23, 23, 23, 1) 60%,
    rgba(41, 41, 41, 1) 100%
  );
  padding: 20px;
  text-align: center;
  color: #fff;
  z-index: 1000;
  position: relative;
}
nav {
  background: rgb(0, 0, 0);
  background: linear-gradient(
    90deg,
    rgba(5, 5, 5, 1) 0%,
    rgba(23, 23, 23, 1) 60%,
    rgba(41, 41, 41, 1) 100%
  );
  padding: 20px;
  text-align: center;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
}
nav ul {
  list-style: none;
}

nav ul li {
  display: inline;
  margin-right: 100px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

main {
  padding: 20px;
  display: flex;
  flex-wrap: wrap; /* Allow wrapping if necessary */
  justify-content: center;
  align-items: flex-start; /* Align content at the bottom */
}

.product {
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  align-self: center;
  width: 300px;
  text-align: center;
  height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.product img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
.old {
  text-decoration: line-through;
  font-size: small;
  color: red;
}
.new {
  font-size: large;
  color: red;
}

button {
  background-color: #333; /* Dark background color */
  color: #fff; /* White text color */
  padding: 10px 20px; /* Padding around text */
  border: none; /* No border */
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
}
.buy-button {
  background: #4caf50;
  color: white;
  padding: 15px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.buy-button:hover {
  background: #45a049;
  transform: scale(0.9);
}
.buy-button {
  display: none;
  margin: 20px auto;
  height: 40px;
}
h3 {
  color: #fff;
  text-align: center;
  margin: 40px;
  font-size: 30px;
}
footer {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px;
  width: 100%;
}
footer {
  padding: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
footer div {
  padding: 20px;
  margin: 20px;
  width: 450px;
  text-align: center;
}

footer div img {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}
ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: aliceblue;
}
div p {
  color: aliceblue;
}
.section p ul li {
  color: black;
}
nav ul li ul {
  position: absolute;
  width: 200px;
  background-color: #333;
  display: none;
  height: fit-content;
  display: none;
}
nav ul li:hover ul {
  display: block;
}
nav ul {
  display: flex;
}
nav ul li ul li {
  border: 1px solid aliceblue;
  padding: 7px;
  margin: 5px 10px;
  background-color: #222;
  float: left;
  width: 90%;
  border-radius: 5px;
}
nav ul li ul li:hover a {
  color: #222;
  font-weight: bold;
}
nav ul li ul li:hover {
  background-color: aliceblue;
  transform: scale(0.9);
  transition: all 0.6s;
}
nav ul li {
  width: 120px;
  height: 40px;
  padding: 7px;
}
nav ul li:hover {
  background-color: rgb(50, 142, 246);
  border-radius: 25px;
}
header img {
  border-radius: 50px 20px;
}
h3 {
  color: rgb(50, 142, 246);
  text-align: center;
  margin: 40px;
  font-size: 30px;
}
header img {
  margin: 20px;
}
header h1 {
  margin: 20px 30%;
  color: rgb(50, 142, 246);
  font-size: 40px;
}
.logo {
  border-radius: 50px 20px;
}
footer div {
  width: 30%;
  margin: 20px;
}
footer .french-line .slogan {
  margin: 20px;
  width: calc(100% - 10px);
}
footer .french-line {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
